body{
    padding: 0;
    max-width: 100%;
    margin: auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
  }
.header img{
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
    width: 45em;
    height: 40em;
    object-fit: cover;
}
.header p{
    position: absolute;
    left: 50%;
    top: 14%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 0.2em;
}
.description{
    background-image: url('../assets/backgroundtop.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    position: absolute;
    left: 1.5em;
    top: 25%;
    height: 90%;
}
.piramid{
    width: 20%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 80%;
    transform: rotate(-360deg);
    z-index: 2;
}
.rectangle{
    width: 32em;
    height: 32em;
    position: absolute;
    left: 75%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    transform: rotate(140deg);
}
.rectangletwo{
    width: 40em;
    height: 40em;
    position: absolute;
    top: 85%;
    left: 7%;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    transform: rotate(135deg);
}
.description .text{
    z-index: 1000;
    position: relative;
    top: -1em;
    left: 15%;
    width: 35%;
    font-size: 1.2em;
}
.description .text h2{
    font-weight: 900;
    font-size: 3em;
}
.description #woman{
    width: 50em;
    height: 51em;
    position: absolute;
    top: 1.9em;
    left: 58%;
    object-fit: cover;
    z-index: 2;
}
#textoverimage{
    position: absolute;
    top: 18em;
    left: 52%;
    height: 41em;
    width: 40em;
    object-fit: contain;
    z-index: 1000;
    mix-blend-mode: multiply;
}
#descbtn{
    z-index: 1000;
    margin-top: 1.5em;
    padding: 0.7em;
    background-color: rgb(46, 46, 192);
    width: 55%;
    font-size: 1.2em;
    color: white;
    font-weight: 900;
    border: none;
}
#descbtn:hover{
    background-color: rgb(70, 70, 236);
    cursor: pointer;
}
#plusone{
    position: relative;
    top: -5.2em;
}
#plustwo{
    position: relative;
    top: 2.6em;
    right: 5.3em;
}
.structure{
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    z-index: 1000;
}
.structure h3{
    z-index: 1000;
    font-size: 2.5em;
    position: relative;
    font-weight: 900;
    top: 1em;
}
.structure ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: -8em;
}
.structure img{
    width: 25em;
    height: auto;
}
.highlighted{
    position: absolute;
    top: 210%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.highlighted h2{
    font-weight: 900;
    font-size: 2.5em;

}
.highlighted ul li{
    -webkit-box-shadow: -1px 4px 24px -3px rgba(66, 68, 90, 1);
    -moz-box-shadow: -1px 4px 24px -3px rgba(66, 68, 90, 1);
    box-shadow: -1px 4px 24px -3px rgba(66, 68, 90, 1);
    border-radius: 1em;
    padding-top: 6em;
    width: 20em;
    height: 12em;
    margin-right: 4em;
    margin-top: 1.5em;
    list-style: none;
    display: inline-block;
}
.highlighted ul li:hover{
    -webkit-box-shadow: 1px 4px 32px -11px rgba(66, 68, 90, 1);
    -moz-box-shadow: 1px 4px 32px -11px rgba(66, 68, 90, 1);
    box-shadow: 1px 4px 32px -11px rgba(66, 68, 90, 1);
    cursor:grab;
}
#plusblue{
    position: relative;
    top: 10em;
    left: 40%;
}
.coop{
    text-align: center;
    position: absolute;
    top: 285%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.coop h2{
    font-size: 2.5em;
    font-weight: 900;
}
.coop ul li{
    list-style: none;
    display: inline-block;
    margin-right: 4em;
}
.coop ul li img{
    max-width: 10em;
}
.form{
    box-shadow: 1px 4px 32px -11px rgba(66, 68, 90, 1);
    position: absolute;
    top: 360%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    text-align: center;
    padding: 2em;
    border-radius: 1em;
}
.form h2{
    font-size: 2.5em;
    font-weight: 900;
}
.form textarea{
    width: 95%;
    height: 8em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form input[type=text]{
    text-align: center;
    margin: 0.5em;
    width: 45%;
    padding: 0.2em;
}
.form input[type=email]{
    text-align: center;
    margin: 0.5em;
    width: 45%;
    padding: 0.2em;
}
.form input[type=tel]{
    text-align: center;
    margin: 0.5em;
    width: 45%;
    padding: 0.2em;
}
.form input[type=submit]{
    width: 30%;
    padding: 0.5em;
    background-color: rgb(46, 46, 192);
    color: white;
    font-weight: 900;
    border: none;
}
.form input[type=submit]:hover{
    background-color: rgb(70, 70, 236);
    cursor: pointer;
}
footer{
    color: white;
    position: absolute;
    top: 410%;
    height: auto;
    width: 100%;
}
footer .top{
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
footer .top .socials a img{
    width: 2.5em;
    height: 2.5em;
}
footer .top .footermenu{
    text-align: center;
}
footer .top .footermenu .menuli{
    margin-right: 10%;
    display: inline-block;
}
footer .top .footermenu .adress ul li{
    text-align: left;
    display: block;
    font-weight: 10;
    opacity: 0.8;
}
footer .top .footermenu .adress ul a{
    color: white;
    font-weight: 10;
    opacity: 0.8;
}
footer .top .footermenu .structurefoot ul li{
    text-align: left;
    display: block;
    font-weight: 10;
    opacity: 0.8;
}
footer .top .footermenu .socials ul li {
    display: inline-block;
    margin-bottom: 2em;
    margin-right: 2em;
}
footer .bottom{
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
footer .bottom{
    background-color: rgb(105, 110, 105);
    text-align: center;
}